<div class="detail">
    <div class="grid wide">
        <div class="detail-header">
            <div class="detail-header__item">
                <div class="detail-header-filter">Trang chủ</div>
                <span>/</span>
                <div class="detail-header-filter">{{product.type}}</div>
                <span>/</span>
                <div class="detail-header-filter">{{product.size}}</div>
            </div>
            <div class="detail-header__change">
                <i class="fas fa-chevron-circle-left"></i>
                <i class="fas fa-chevron-circle-right"></i>
            </div>
        </div>
        <div class="row">
            <div class="col l-8">
                <div class="row">
                    <div class="col l-3">
                        <img src="{{product.image}}" width="100%" alt="">
                    </div>
                    <div class="col l-9">
                        <img class="" src="{{product.image}}" width="100%" alt="">
                    </div>
                </div>
            </div>
            <div class="col l-4">
                <h2 class="detail__title">{{product.name}}</h2>
                <h2 class="detail__price">{{product.price}} ₫</h2>
                <p class="detail__description">{{product.description}}</p>
            </div>
        </div>
    </div>
</div>