<form class="create-form grid wide" name="container-form" method="POST" action="/products/handle-form-actions">
    <div>
        <a href="/me/stored/products">
            Sản phẩm của bạn!
        </a>
        <h3>Danh sách sản phẩm đã xóa</h3>
    </div>

    <div class="mt-8 d-flex align-items-center form-check-all">
      <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="checkAll">
          <label class="form-check-label" for="checkAll">
            Chọn tất cả
          </label>
      </div>
      <select class="select-all-option" name="action" required> 
          <option value="">-- Hành động --</option>
          <option value="delete-force">Xóa</option>
          <option value="restore">Khôi phục</option>
      </select>
      <button id="check-all-submit" class="btn btn-primary btn-sm" disabled>Thực hiện</button>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th scope="col" colspan="2">#</th>
                <th scope="col">Tên sản phẩm</th>
                <th scope="col">Loại sản phẩm</th>
                <th scope="col">Kiểu sản phẩm</th>
                <th scope="col">Ngày xóa</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {{#each products}}
            <tr>
                <th>
                  <div class="form-check">
                      <input class="form-check-input" type="checkbox" name="productIds[]" value="{{this._id}}">
                  </div>
                </th>
                <th scope="row">{{sum @index 1}}</th>
                <td>{{this.name}}</td>
                <td>{{this.type}}</td>
                <td>{{this.size}}</td>
                <td>{{this.deletedAt}}</td>
                <td>
                    <a href="" class="btn btn-primary btn-restore" data-id="{{this._id}}"><i class="fas fa-trash-restore"></i> Khôi phục</a>
                </td>
                <td>
                    <a href="" class="btn btn-danger"  data-id="{{this._id}}" data-toggle="modal" data-target="#delete-product-modal"><i class="fas fa-trash"></i> Xóa vĩnh viễn</a>
                </td>
            </tr>

            {{else}}
            <tr>
                <td colspan="7" class="text-center">
                    Không có sản phẩm nào đã xóa!
                    <a href="/me/stored/products">
                        Xem khóa học!
                    </a>
                  </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</form>



{{!-- confirm delete product --}}

<div id="delete-product-modal" class="modal fade" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Xóa sản phẩm?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Bạn có chắc muốn xóa sản phẩm này?</p>
      </div>
      <div class="modal-footer">
        <button id="btn-delete-product" type="button" class="btn btn-danger">Xóa bỏ</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
      </div>
    </div>
  </div>
</div>
<form id="restore-form" method="POST" ></form>
<form id="delete-form" method="POST" ></form>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var productId;
        var btnRestore = $('.btn-restore')
        var deleteForm = document.getElementById('delete-form');
        var restoreForm = document.getElementById('restore-form');
        var btnDeleteProduct = document.getElementById('btn-delete-product');

        var checkAll = $('#checkAll');
        var productItemCheckbox = $('input[name="productIds[]"]');
        var containerForm = document.forms['container-form'];
        var checkAllSubmitBtn = $('#check-all-submit');

        //when  dialog confirm click
        $('#delete-product-modal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget) // Button that triggered the modal
            productId = button.data('id') // Extract info from data-* attributes    
        });
        //when delete  dialog confirm click
        btnDeleteProduct.onclick = function (){
          deleteForm.action = '/products/' + productId + '/force?_method=DELETE';
          deleteForm.submit();
        }

        // Restore btn clicked
        btnRestore.click(function (e){
            e.preventDefault();
            var prdId = $(this).data('id');

            restoreForm.action = '/products/' + prdId + '/restore?_method=PATCH';
            restoreForm.submit();
        })  
        
        // Checkbox all change
        checkAll.change(function() {
            var isCheckedAll = $(this).prop('checked');
            productItemCheckbox.prop('checked', isCheckedAll);
            renderCheckAllSubmitButton()
        })

        // Product item checkbox change
        productItemCheckbox.change(function() {
          var isCheckedAll = productItemCheckbox.length === $('input[name="productIds[]"]:checked').length;
          checkAll.prop('checked', isCheckedAll);
          renderCheckAllSubmitButton()
        })


        // Re-render check all submit btn
        function renderCheckAllSubmitButton() {
            var checkCount = $('input[name="productIds[]"]:checked').length;
            if (checkCount > 0 ) {
              checkAllSubmitBtn.attr('disabled', false);
            } else {
              checkAllSubmitBtn.attr('disabled', true);
            }
        }
    })
    
</script>